<form [formGroup] = "form">
<div class="form-group">
  <label for="">Old Password</label>
  <input formControlName="password"   type="password" class="form-control">
  <div *ngIf = "form.get('password').touched && form.get('password').invalid"
  class="alert alert-danger">
  <div *ngIf ="form.get('password').errors.required ">Old password is required</div>
  <div *ngIf ="form.get('password').errors.isValidOldPassword ">Old password is not valid</div>
  </div>
</div>

<div class="form-group">
  <label for="">New password</label>
  <input formControlName="newPassword" type="password" class="form-control">
  <div *ngIf = "form.get('newPassword').touched && form.get('newPassword').invalid"
  class="alert alert-danger">
  <div *ngIf ="form.get('newPassword').errors.required ">New password is required</div>
  </div>
</div>
<div class="form-group">
  <label for="">Confirmm password</label>
  <input formControlName="confirmPassword" type="password" class="form-control">
  <div *ngIf = "form.get('confirmPassword').touched && form.get('confirmPassword').invalid"
  class="alert alert-danger">
  <div *ngIf ="form.get('confirmPassword').errors.required ">Confirm password is required</div>
  </div>
  <div class="alert alert-danger"
*ngIf ="form.get('confirmPassword').valid && form.invalid && form.errors"
> password do not match</div>
</div>

<button class="btn btn-primary" [disabled]="!form.valid">Change Password</button>
</form>
